* { color: #333; }

body{
    background-image: url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    font-family: 'Lexend Mega', sans-serif;
}
/*CABEÇALHO*/
.hidden{
    display: none;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #333;
}

header img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-bottom: 25px;
}

.cabecalho a{
    display: table-cell;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    text-align: center;
    margin-right: 60px;
    margin-top: 30px;
    padding-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12pt;
    width: 90px;
    height: 30px;
    background-color:rgb(39, 202, 252);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}

.cabecalho a:hover{
    background-color: rgb(45, 164, 201);
    transition: .4s;
    color: white;
}

/*Div apresentação*/

.apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    background-color: rgb(241, 216, 72);
    margin-top: 50px;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 1px 1px 5px black;
}

.apresentacao h1{
    font-size: 30pt;
}

.apresentacao p{
    font-size: 15pt;
}

/*Formulário de login*/

.login label{
    display: inline-block;
    font-size: 12pt;
    padding: 15px;
}

.login input{
    border-radius: 5px;
    border: none;
    height: 20px;
    box-shadow: 1px 1px 5px black;
}

.btn_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 50px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    padding-top: 12px;
    font-size: 15pt;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    background-color:  rgb(39, 202, 252);
    color: blanchedalmond;
    cursor: pointer;
}

.btn_login:hover{
    background-color:  rgb(45, 164, 201);
    transition: .4s;
}

.cadastre-se{
    text-decoration: none;
    text-transform: uppercase;
}

.cadastre-se:hover{
    color: white;
    transition: .3s;
}