* { color: #333; }

body{
    background-image: url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lexend Mega', sans-serif;
}
/*CABEÇALHO*/
.hidden{
    display: none;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #333;
}

header img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-bottom: 25px;
}

/*Div apresentação*/

.apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    background-color: #F5F5F5;
    margin-top: 50px;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 1px 1px 5px black;
}

.apresentacao h1{
    font-size: 30pt;
}

.apresentacao p{
    font-size: 15pt;
}

/*Formulário de login*/

.login label{
    display: inline-block;
    font-size: 12pt;
    padding: 15px;
}

.login input{
    border-radius: 5px;
    border: none;
    height: 20px;
    box-shadow: 1px 1px 5px black;
}

.btn_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 50px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    padding-top: 12px;
    font-size: 15pt;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    background-color:  rgb(39, 202, 252);
    color: blanchedalmond;
    cursor: pointer;
}

.btn_login:hover{
    background-color:  rgb(45, 164, 201);
    transition: .4s;
}

.cadastre-se{
    text-decoration: none;
    text-transform: uppercase;
}


/* Seção de Cadastro */

#main_cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    width: 600px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 1px 1px 5px black;
}

#main_cadastro h2{
    font-size: 30pt;
    text-transform: uppercase;
}

.cadastro input{
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    height: 20px;
    box-shadow: 1px 1px 5px black;    
}

.fazer_login{
    text-decoration: none;
    text-transform: uppercase;
}

.cadastro .btn_f_login{
    align-items: center;
    height: 50px;
    margin-top: 20px;
    padding-top: 6px;
    font-size: 15pt;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    background-color:  rgb(39, 202, 252);
    color: blanchedalmond;
    cursor: pointer;
}

.btn_f_login:hover{
    background-color:  rgb(45, 164, 201);
    transition: .4s;
}

/*ToDo List*/

.tarefas_app{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #f5f5f5;
    width: 60%;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

.tarefas_app h1{
    font-size: 30pt;
}

.add_tarefa_container input{
    margin-right: 15px;
    border-radius: 5px;
    border: none;
    height: 20px;
    box-shadow: 1px 1px 5px black;    
}